@mixin grid-container($width: $grid-container-width, $grid-gutter: $gutter) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  max-width: $width;
  margin: 0 auto;
  padding: 0 $grid-gutter/2;
}
