// Demo Styles

.grid__container {
    @include grid-container(80%);
    background: bisque;

    .grid__item {
        @include block-flex(1, $bottom-gutter: true);
        @include grid-container(100%);
        justify-content: space-around;

        .block {

            background-color: coral;
        }
    }
}




.grid__container--2 {
    @include grid-container(500px);
    background: bisque;
    justify-content: space-around;

    .grid__item {
        @include block-width(200px);
        background: coral;
    }
}
